div.desktop {
	width: 100%;
	height: 100vh;

	background-image: url('http://www.4usky.com/data/out/102/164924235-white-wallpapers.jpg');
	background-size: 100% auto;
}

div.desktop div.icon {
	position: absolute;

	display: flex;

	flex-direction: column;
	align-items: center;

	width: 54px;
	height: auto;

	padding: 5px;

	user-select: none;

	font-family: Arial;
	font-size: 12px;

}

div.desktop div.icon:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

div.desktop div.icon.active {
	background-color: rgba(0, 0, 0, 0.2);
}

div.desktop div.icon img {
	width: 100%;
	height: auto;

	pointer-events: none;
}

div.desktop div.icon span {
	text-align: center;
}