div.start-panel {
	position: absolute;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: space-between;

	width: 100%;	
	height: 25px;
}

div.start-panel div.button-menu {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 120px;
	height: 100%;

	font-family: Arial;
	font-size: 14px;

	border: 0px solid green;
	border-bottom: 0;
}

div.start-panel div.open-window {
	display: flex;
	align-items: center;

	width: 100%;
	height: 100%;

	font-family: Arial;
	font-size: 14px;

	border: 0px solid blue;
	border-bottom: 0;
}

div.start-panel div.time {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 140px;
	height: 100%;

	font-family: Arial;
	font-size: 14px;

	border: 0px solid red;
	border-bottom: 0;
}