div.window {
	position: absolute;
	left: 100px;
	top: 100px;

	z-index: 2000;

	min-width: 300px;
	min-height: 250px;

	border: 1px solid #000;

	resize: both;
	overflow: auto;

	background-color: #fff;

	user-select: none;
}

div.window div.window-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 25px;

	box-sizing: border-box;

	border-bottom: 1px solid #000;

	padding-left: 5px;
	padding-right: 5px;

	font-family: Arial;
	font-size: 14px;
}

div.window div.window-panel .title {
	width: 100%;
}

div.window div.window-panel .control {
	display: flex;
}

div.window div.window-panel .control .minimize {
	width: 14px;
	height: 14px;

	border-radius: 100%;

	background-color: #000;

	margin-left: 5px;
}

div.window div.window-panel .control .close {
	width: 14px;
	height: 14px;

	border-radius: 100%;

	background-color: #000;

	margin-left: 5px;
}

div.window div.view {
	width: 100%;
	height: calc(100% - 25px);
}